{% extends 'base.html' %}
{% block style %}
    <style>
        .btn_cust{
            height: 40px;
            width: 40px;
            border-radius: 0;
            border-color: #1b1e21;
            border-style: solid;
        }
        .btn_cust.active.focus,
        .btn_cust.active:focus,
        .btn_cust.focus,
        .btn_cust.focus:active,
        .btn_cust:active:focus,
        .btn_cust:focus {
            box-shadow: none  !important;
        }
        ul[id='ul']{
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
        ul[id='ul'] > li{
            display: inline-block;
        }
        .chat{
            width: 400px;
            border-style: solid;
            border-width: 2px;
            padding: 10px;
        }
        .chat-text-input{
            width: 310px;
            padding: 4px;
        }
        .chat-body{
            overflow-y: auto;
            overflow-x: hidden;
            height: 150px;
        }
    </style>
{% endblock %}
{% block title %}Place Ships{% endblock %}

{% block content %}
    <nav class="navbar navbar-expand-md bg-dark navbar-dark justify-content-end">
        <span style="height: auto; color:white;">Time Left:</span>
        <span style="height: auto; color:lightgray; padding: 5px;" id="timer">0.00</span>
        <span style="height: auto; color:white;">Score:</span>
        <span style="height: auto; color:orange; padding-left: 5px; padding-right: 10px" id="score">0</span>
        <a href="{% url 'profile' %}" class="navbar-brand">{{user.username}}</a>
        <a href="{% url 'logout' %}" class="btn btn-warning">Logout</a>
    </nav>
    <div class="container container-fluid">
        <br>
        <div class="row">
            <div class="container container-fluid" id="parent_container"></div>
        </div>
        <div class="row">
            <div class="container container-fluid" id="chat_container"></div>
        </div>
    </div>
    {% load static %}
    <script>
        var upperCount=Array(6).fill(0);
        upperCount[1]=3;
        upperCount[2]=2;
        upperCount[3]=1;
        upperCount[4]=1;
        upperCount[5]=1;
        let seconds=20.0;
        let score=0;
        let intervalHandle=null;
        function Square(props) {
            return React.createElement(
                'button',
                {
                    onClick: props.onClick,
                    className: 'square btn btn_cust '+props.value,
                    disabled: props.disabled,
                },
                null,
            );
        }
        class Board extends React.Component {
            constructor(props) {
                super(props);
                this.myBoard= props.myBoard;
                this.socket=props.socket;
                this.iAmPlayer1=props.iAmPlayer1;
                var x = new Array(10);
                var y= new Array(6);
                let z=new Array(6);
                let a=jQuery.extend(true, {}, upperCount);
                for (var i = 0; i < x.length; i++) {
                    x[i] = new Array(10);
                }
                for(let i=1;i<y.length;i++){
                    y[i]=[];
                    z[i]=[];
                }
                this.state = {
                    squares: x.fill(Array(10).fill(0)),
                    iOfSquaresOfType: y,
                    jOfSquaresOfType: z,
                    noOfSunkShips: 0,
                    squaresLeft: a,
                    activePlayerIsMe: false,
                };
            }
            handleClick(i, j) {
                if(!this.myBoard && this.state.activePlayerIsMe) {
                    let squares = jQuery.extend(true, {}, this.state.squares);
                    let iOfSquaresOfType = jQuery.extend(true, {}, this.state.iOfSquaresOfType);
                    let jOfSquaresOfType = jQuery.extend(true, {}, this.state.jOfSquaresOfType);
                    let noOfSunkShips = this.state.noOfSunkShips;
                    let squaresLeft = jQuery.extend(true, {}, this.state.squaresLeft);
                    let activePlayerIsMe = this.state.activePlayerIsMe;
                    if(i===20 && j===20){
                        activePlayerIsMe=!activePlayerIsMe;
                    } else if (squares[i][j] === 0) {
                        clearTimeout(intervalHandle);
                        squares[i][j] = 2;
                        activePlayerIsMe = !activePlayerIsMe;
                    } else if (squares[i][j] === 1) {
                        clearTimeout(intervalHandle);
                        score=score+Math.ceil(seconds);
                        squares[i][j] = 3;
                        let pos=-1;
                        let type=0;
                        for(let k1=1;k1<=5;k1++){
                            for(let k2=0;k2<this.state.iOfSquaresOfType[k1].length;k2++) {
                                if (this.state.iOfSquaresOfType[k1][k2] === i && this.state.jOfSquaresOfType[k1][k2] === j) {
                                    type=k1;
                                    pos=k2;
                                }
                            }
                        }
                        if(type===2){
                            if(pos===0 || pos===1){
                                pos=0;
                            }else if(pos===2 || pos===3){
                                pos=1;
                            }
                        }
                        if(type>=3){
                            pos=0;
                        }
                        if(squaresLeft[type][pos]>0){
                            squaresLeft[type][pos]--;
                            if(squaresLeft[type][pos]===0){
                                noOfSunkShips++;
                            }
                        }
                    }
                    this.setState({
                        squares: squares,
                        iOfSquaresOfType: iOfSquaresOfType,
                        jOfSquaresOfType: jOfSquaresOfType,
                        noOfSunkShips: noOfSunkShips,
                        squaresLeft: squaresLeft,
                        activePlayerIsMe: activePlayerIsMe,
                    });
                    document.getElementById('score').innerHTML=score;
                    let activePlayerIs1=false;
                    if((this.iAmPlayer1&&activePlayerIsMe) || (!this.iAmPlayer1 && !activePlayerIsMe)){
                        activePlayerIs1=true;
                    }
                    this.socket.send(JSON.stringify({
                        'type': 'chat_message',
                        'from': '{{ user.username }}',
                        'purpose': 'Update State for Django',
                        'squares': squares,
                        'iOfSquaresOfType': iOfSquaresOfType,
                        'jOfSquaresOfType': jOfSquaresOfType,
                        'noOfSunkShips': noOfSunkShips,
                        'squaresLeft': squaresLeft,
                        'activePlayerIs1': activePlayerIs1,
                        'iAmPlayer1': this.iAmPlayer1,
                        'game_id': {{ room_name }},
                        'score': score,
                    }));
                }
            }
            startCountDown() {
                intervalHandle = setInterval(()=>{
                    document.getElementById('timer').innerText=Math.abs(seconds).toFixed(2);
                    if(seconds<=0.01){
                        clearTimeout(intervalHandle);
                        this.handleClick(20,20);
                    }else {
                        seconds=seconds-0.1;
                    }
                }, 100);
            }
            renderSquare(i, j) {
                let k = 10 * i + j;
                let type=0;
                for(let k1=1;k1<=5;k1++){
                    for(let k2=0;k2<this.state.iOfSquaresOfType[k1].length;k2++) {
                        if (this.state.iOfSquaresOfType[k1][k2] === i && this.state.jOfSquaresOfType[k1][k2] === j) {
                            type = k1;
                        }
                    }
                }

                let isDisabled=this.myBoard;
                let colour = 'btn-default';
                if(this.myBoard) {
                    if (this.state.squares[i][j] === 1) {
                        colour = 'btn-secondary';
                    } else if (this.state.squares[i][j] === 2) {
                        colour = 'btn-info';
                    } else if (this.state.squares[i][j] === 3) {
                        colour = 'btn-danger';
                    }
                }else{
                    if(!this.state.activePlayerIsMe){
                        isDisabled=true;
                    }
                    if (this.state.squares[i][j]===2){
                        colour = 'btn-info';
                        isDisabled=true;
                    }else if(this.state.squares[i][j]===3){
                        colour = 'btn-danger';
                        isDisabled=true;
                    }
                }
                return React.createElement(Square, {
                    value: colour,
                    onClick: () => this.handleClick(i, j),
                    key: k,
                    disabled: isDisabled,
                });
            }
            render() {

                let rows = [];
                for (let i = 0; i < 10; i++) {
                    for (let j = 0; j < 10; j++) {

                        // note: we add a key prop here to allow react to uniquely identify each
                        // element in this array. see: https://reactjs.org/docs/lists-and-keys.html
                        rows.push(this.renderSquare(i, j));
                    }
                    rows.push(React.createElement(
                        'br',
                        {
                            key: 'b'+i.toString(),
                        },
                    ));
                }
                let counts=new Array(6);
                counts[1]=this.state.squaresLeft[1][0]+
                    this.state.squaresLeft[1][1]+
                    this.state.squaresLeft[1][2];
                counts[2]=((this.state.squaresLeft[2][0]>0)?1:0)+((this.state.squaresLeft[2][1]>0?1:0));
                counts[3]=((this.state.squaresLeft[3][0]>0)?1:0);
                counts[4]=((this.state.squaresLeft[4][0]>0)?1:0);
                counts[5]=((this.state.squaresLeft[5][0]>0)?1:0);
                if(!this.myBoard){
                    rows.push(
                        React.createElement(
                            'br',
                            {
                                key:'br',
                            }
                        )
                    );
                    rows.push(
                        React.createElement(
                            'ul',
                            {
                                id: 'ul',
                                key: 'ul',
                            },
                            React.createElement(
                                'li',
                                {
                                    id: '1',
                                },
                                React.createElement(
                                    "div",
                                    {
                                        className:'labelDiv',
                                    },
                                    React.createElement("img", { src: "{% static play %}/images/s1.png", id: "ship1", }),
                                    React.createElement(
                                        "h3",
                                        {
                                            key: 'choose',
                                            align: 'center',
                                        },
                                        counts[1]+"/"+upperCount[1]
                                    ),
                                ),
                            ),
                            React.createElement(
                                'li',
                                {
                                    id: '2',
                                },
                                React.createElement(
                                    "div", {className:"labelDiv"},
                                    React.createElement("img", { src: "{% static play %}/images/s2.png", id: "ship2", }
                                    ),
                                    React.createElement(
                                        "h3",
                                        {
                                            key: 'choose',
                                            align: 'center',
                                        },
                                        counts[2]+"/"+upperCount[2]
                                    ),
                                ),

                            ),
                            React.createElement(
                                'li',
                                {
                                    id: '3',
                                },
                                React.createElement(
                                    "div",{className:"labelDiv"},

                                    React.createElement("img", { src: "{% static play %}/images/s3.png", id: "ship3", }
                                    ),
                                    React.createElement(
                                        "h3",
                                        {
                                            key: 'choose',
                                            align: 'center',
                                        },
                                        counts[3]+"/"+upperCount[3]
                                    ),
                                ),
                            ),
                            React.createElement(
                                'li',
                                {
                                    id: '4',
                                },
                                React.createElement(
                                    "div",{className:"labelDiv"},

                                    React.createElement("img", { src: "{% static play %}/images/s4.png", id: "ship4", }
                                    ),
                                    React.createElement(
                                        "h3",
                                        {
                                            key: 'choose',
                                            align: 'center',
                                        },
                                        counts[4]+"/"+upperCount[4]
                                    ),
                                ),
                            ),
                            React.createElement(
                                'li',
                                {
                                    id: '5',
                                },
                                React.createElement(
                                    "div",{className:"labelDiv"},

                                    React.createElement("img", { src: "{% static play %}/images/s5.png", id: "ship5", }
                                    ),
                                    React.createElement(
                                        "h3",
                                        {
                                            key: 'choose',
                                            align: 'center',
                                        },
                                        counts[5]+"/"+upperCount[5]
                                    ),
                                ),
                            ),
                        ),
                    );
                } else if(this.myBoard){
                    rows.push(
                        React.createElement(
                            'br',
                            {
                                key:'br',
                            }
                        )
                    );
                    rows.push(
                        React.createElement(
                            'div',
                            {
                                id: 'chat_container_1',
                                key: 'chat_container_1',
                            },
                        ),
                    );
                }
                let className='col-6';
                if(this.myBoard){
                    className='col-6';
                }
                return React.createElement(
                    'div',
                    {
                        className:className,
                    },
                    rows
                );
            }
        }
        class Parent extends React.Component {
            constructor(props) {
                super(props);
                this.iAmPlayer1=false;
                this.state= {
                    activePlayerIsMe: false,
                }
            }
            updateState(boardref,data){
                let activePlayerIsMe=
                    (
                        (data['p1']==='{{ user.username }}' && data['activePlayerIs1']) ||
                        (data['p2']==='{{ user.username }}' && !data['activePlayerIs1'])
                    );
                seconds=0;
                if(activePlayerIsMe){
                    seconds=20;
                }
                if(data['p1']==='{{ user.username }}'){
                    score=data['p1score'];
                }
                if(data['p2']==='{{ user.username }}'){
                    score=data['p2score'];
                }
                if((boardref.myBoard && data['p1']==='{{ user.username }}') ||
                    (!boardref.myBoard && data['p2']==='{{ user.username }}')){
                    boardref.setState({
                        squares: data['p1squares'],
                        iOfSquaresOfType: data['p1iOfSquaresOfType'],
                        jOfSquaresOfType: data['p1jOfSquaresOfType'],
                        noOfSunkShips: data['p1noOfSunkShips'],
                        squaresLeft: data['p1squaresLeft'],
                        activePlayerIsMe: activePlayerIsMe,
                    });
                }else if((boardref.myBoard && data['p2']==='{{ user.username }}') ||
                    (!boardref.myBoard && data['p1']==='{{ user.username }}')){
                    boardref.setState({
                        squares: data['p2squares'],
                        iOfSquaresOfType: data['p2iOfSquaresOfType'],
                        jOfSquaresOfType: data['p2jOfSquaresOfType'],
                        noOfSunkShips: data['p2noOfSunkShips'],
                        squaresLeft: data['p2squaresLeft'],
                        activePlayerIsMe:activePlayerIsMe,
                    });
                }
                this.setState({
                    activePlayerIsMe: activePlayerIsMe
                });
                document.getElementById('score').innerHTML=score;
                if(!boardref.myBoard && activePlayerIsMe){
                    boardref.startCountDown();
                }
            }
            componentDidMount() {
                this.socket = new WebSocket('ws://' + window.location.host + '/game/');
                this.board2.socket=this.socket;
                this.board1.socket=this.socket;
                if (this.socket.readyState === WebSocket.OPEN) {
                    this.socket.onopen();
                }
                this.socket.onopen = () => {
                    console.log('WebSockets connection created.');
                    this.socket.send(JSON.stringify({
                        'type': 'chat_message',
                        'purpose': 'Set Game ID',
                        'game_id': {{ room_name }},
                        'from': '{{ user.username }}'
                    }));
                };
                this.socket.onmessage = (event) => {
                    var data = JSON.parse(event.data);
                    if ('game_id' in data && data['game_id'] ==={{ room_name }}) {
                        if (data['purpose'] === 'Initialize Game' || data['purpose']==='Update State') {
                            this.iAmPlayer1=(data['p1']==='{{ user.username }}');
                            this.board1.iAmPlayer1=this.iAmPlayer1;
                            this.board2.iAmPlayer1=this.iAmPlayer1;
                            this.updateState(this.board1,data);
                            this.updateState(this.board2,data);
                        }
                        if(data['purpose']==='Game Over'){
                            window.location.href = '/play/finish/' + '{{ room_name }}';
                        }
                    }
                };
            }

            render() {
                let rows = [];
                rows.push(React.createElement(
                    Board,
                    {
                        key: 'b1',
                        myBoard: true,
                        ref: (board1) => {
                            this.board1 = board1
                        },
                        socket: null,
                        iAmPlayer1: false,
                    }
                ));
                rows.push(React.createElement(
                    Board,
                    {
                        key: 'b2',
                        myBoard: false,
                        ref: (board2) => {
                            this.board2 = board2
                        },
                        socket: null,
                        iAmPlayer1: false,
                    }
                ));
                return React.createElement(
                    'div',
                    {
                        className: 'row',
                    },
                    rows
                );
            }
        }


        {#The chat part starts here#}
        {##}
        class GameChat extends React.Component {
            constructor(props) {
                super(props);
                this.state =
                    {
                        sendee : [],
                        message : [],
                    };
            }
            componentDidMount() {
                this.socket = new WebSocket('ws://' + window.location.host + '/chat/');
                if (this.socket.readyState === WebSocket.OPEN) {
                    this.socket.onopen();
                }
                this.socket.onopen = () => {
                    console.log('WebSockets connection created.');
                    this.socket.send(JSON.stringify({
                        'type': 'chat_message',
                        'purpose': 'Set Game ID',
                        'game_id': {{ room_name }},
                        'message': '',
                        'from': '{{ user.username }}'
                    }));
                };
                this.socket.onmessage = (event) => {
                    var data = JSON.parse(event.data);
                    if ('game_id' in data && data['game_id'] ==={{ room_name }}) {
                        if (data['purpose'] === 'Game_Chat') {
                            let sendee=this.state.sendee.slice();
                            let message=this.state.message.slice();
                            sendee.push(data['from']);
                            message.push(data['message']);
                            this.setState({
                                sendee: sendee,
                                message: message,

                            });
                            document.getElementById('chat-body').scrollTop=document.getElementById('chat-body').scrollHeight;
                        }
                    }
                }
            }

            sendMessage(){
                let message=document.getElementById('message').value;
                if(message===''){
                    return;
                }
                document.getElementById('message').value='';
                this.socket.send(JSON.stringify({
                    'type':'chat_message',
                    'purpose': 'Game_Chat',
                    'game_id':{{ room_name }},
                    'message': message,
                    'from': '{{ user.username }}'
                }))
            }
            handleKeyPress(event){
                if(event.key==='Enter'){
                    this.sendMessage()
                }
            }
            render(){
                let rows=[];
                let mesgs = [];
                for(let i=0;i<this.state.message.length;i++) {
                    mesgs.push(
                        React.createElement(
                            'div',
                            {
                                className: 'row',
                                key: i,
                            },
                            React.createElement(
                                'div',
                                {
                                    className: 'col-3',
                                },
                                this.state.sendee[i]
                            ),
                            React.createElement(
                                'div',
                                {
                                    className: 'col-9',
                                },
                                this.state.message[i]
                            )
                        )
                    );
                }
                rows.push(
                    React.createElement(
                        'div',
                        {
                            className: 'chat-body',
                            key: 'chat-body',
                            id: 'chat-body',
                        },
                        mesgs
                    )
                );
                rows.push(
                    React.createElement(
                        'br',
                        {
                            key: 'br'
                        },
                    )
                );
                rows.push(
                    React.createElement(
                        'div',
                        {
                            key: 'row'
                        },
                        React.createElement(
                            'input',
                            {
                                type: 'text',
                                id: 'message',
                                className: 'chat-text-input',
                                onKeyPress: (event)=>this.handleKeyPress(event),
                            }
                        ),
                        React.createElement(
                            "input",
                            {
                                type: "button",
                                onClick: () => this.sendMessage(),
                                value: "Send",
                                className: 'btn btn-primary'
                            },
                        ),
                    )
                );
                return React.createElement(
                    'div',
                    {
                        className: 'chat',
                    },
                    rows
                );
            }
        }

        {#The chat part ends here#}
        {##}

        let p=React.createElement(
            Parent,
            null,
        );
        ReactDOM.render(p,document.getElementById('parent_container'));
        let c=React.createElement(
            GameChat,
            null,
        );
        ReactDOM.render(c,document.getElementById('chat_container_1'));
    </script>
{% endblock %}
