{% extends 'base.html' %}
{% block style %}
    <style>
        .btn_cust{
            height: 40px;
            width: 40px;
            border-radius: 0;
            border-color: #1b1e21;
            border-style: solid;
        }
        .btn_cust.active.focus,
        .btn_cust.active:focus,
        .btn_cust.focus,
        .btn_cust.focus:active,
        .btn_cust:active:focus,
        .btn_cust:focus {
            box-shadow: none  !important;
        }
        ul[id='ul']{
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
        ul[id='ul'] > li{
            display: inline-block;
        }
        ul[id='ul'] > li > input{
            visibility: hidden;
        }
        ul[id='ul'] > li > label {
            cursor: pointer;
            font-size: 25px;
        }
    </style>
{% endblock %}
{% block title %}Place Ships{% endblock %}

{% block content %}
    <nav class="navbar navbar-expand-md bg-dark navbar-dark justify-content-center"> <span class="btn btn-warning">Battleship</span> </nav>
    <div class="container">
        <br>
        <div class="row">
            <div id="board_container" class="col-7"></div>
            <div class="col-5"><img src="https://img1.picmix.com/output/stamp/normal/3/5/5/7/107553_b06b9.gif"></div>
        </div>
    </div>
    {% load static %}
    <script>
        var prev="1";
        var counts=Array(6).fill(0);
        var upperCount=Array(6).fill(0);
        upperCount[1]=3;
        upperCount[2]=2;
        upperCount[3]=1;
        upperCount[4]=1;
        upperCount[5]=1;
        let socket = new WebSocket('ws://' + window.location.host + '/placing/');
        socket.onopen = function open() {console.log('WebSockets connection created.')
        socket.send(JSON.stringify({
                'type': 'chat_message',
                'purpose': 'Set Game ID',
                'game_id': {{ room_name }},
                'from':'{{ user.username }}'
            }));};
        if (socket.readyState === WebSocket.OPEN) {
            socket.onopen();
        }
        socket.onmessage = function message(event) {
            var data = JSON.parse(event.data);
            if('game_id' in data && data['game_id']==={{ room_name }}) {
                alert("Rec message");
                if (data['purpose'] === 'Complete') {
                    window.location.href = '/play/game/' + '{{ room_name }}';
                }
                if (data['purpose'] === 'Left Game') {
                    if (data['from'] ==='{{ user.username }}') {
                        alert("Your socket got disconnected. You're being redirected to your profile.");
                    } else {
                        alert("Your opponent disconnected. Redirecting to profile page.");
                    }
                    window.location.href = '/pairing/profile';
                }
            }
        };
        function Square(props) {
            return React.createElement(
                'button',
                {
                    onClick: props.onClick,
                    className: 'square btn btn_cust '+props.value,
                },
                null,
            );
        }
        class Board extends React.Component {
            constructor(props) {
                super(props);
                var x = new Array(10);
                var y= new Array(6);
                let z=new Array(6);
                for (var i = 0; i < x.length; i++) {
                    x[i] = new Array(10);
                }
                for(let i=1;i<y.length;i++){
                    y[i]=[];
                    z[i]=[];
                }
                this.state = {
                    squares: x.fill(Array(10).fill(0)),
                    iOfSquaresOfType: y,
                    jOfSquaresOfType: z,
                };
            }
            handleClick(j, i) {
                let squares=jQuery.extend(true, {}, this.state.squares);
                let iOfSquaresOfType=jQuery.extend(true, {}, this.state.iOfSquaresOfType);
                let jOfSquaresOfType=jQuery.extend(true, {}, this.state.jOfSquaresOfType);
                let c=$('#s'+prev);
                if(c.length> 0){
                    let choice=c[0];
                    let shape=choice.value;
                    let orientation=(c.data('orientationv'))||1;
                    let ret=true;
                    let xToCheck=[];
                    let yToCheck=[];
                    xToCheck.push(i);
                    yToCheck.push(j);
                    if(shape==='1'){
                    }else if(shape==='2'){
                        xToCheck.push(i+(orientation-3)*(orientation%2-1));
                        yToCheck.push(j+(orientation-2)*(orientation%2));
                    }else if(shape==='3'){
                        xToCheck.push(i);
                        yToCheck.push(j- (((orientation===1)||(orientation===4))?1:0) + (((orientation===2)||(orientation===3))?1:0));
                        xToCheck.push(i+(((orientation===1)||(orientation===2))?1:0) - (((orientation===3)||(orientation===4))?1:0));
                        yToCheck.push(j);
                    }else if(shape==='4'){
                        if(orientation%2===1){
                            for(let k=1;k<=3;k++){
                                xToCheck.push(i);
                                yToCheck.push(j-(k)*(2-orientation));
                            }
                        }
                        if(orientation%2===0){
                            for(let k=1;k<=3;k++){
                                xToCheck.push(i+(k)*(3-orientation));
                                yToCheck.push(j);
                            }
                        }
                    }else if(shape==='5'){
                        if(orientation%2===1){
                            xToCheck.push(i+1);
                            xToCheck.push(i-1);
                            yToCheck.push(j);
                            yToCheck.push(j);
                            for(let k=1;k<=2;k++){
                                xToCheck.push(i);
                                yToCheck.push(j-(k)*(2-orientation));
                            }
                        }
                        if(orientation%2===0){
                            xToCheck.push(i);
                            xToCheck.push(i);
                            yToCheck.push(j+1);
                            yToCheck.push(j-1);
                            for(let k=1;k<=2;k++){
                                xToCheck.push(i+(k)*(3-orientation));
                                yToCheck.push(j);
                            }
                        }
                    }
                    for(let k=0;k<xToCheck.length;k++){
                        if(xToCheck[k]>9 || xToCheck[k]<0 || yToCheck[k]>9 || yToCheck[k]<0
                            || squares[yToCheck[k]][xToCheck[k]]===1){
                            ret=false;
                        }
                    }
                    if(ret&&counts[shape]<upperCount[shape]) {
                        counts[shape]++;
                        for(let k=0;k<xToCheck.length;k++){
                            squares[yToCheck[k]][xToCheck[k]]=1;
                            iOfSquaresOfType[shape].push(yToCheck[k]);
                            jOfSquaresOfType[shape].push(xToCheck[k]);
                        }
                        this.setState({
                            squares: squares,
                            iOfSquaresOfType: iOfSquaresOfType,
                            jOfSquaresOfType: jOfSquaresOfType,
                        });
                    }
                }
            }
            submitClick(){
                let valid=true;
                for(let i=1;i<=5;i++){
                    if(counts[i]!==upperCount[i]){
                        valid=false;
                    }
                }
                if(!valid){
                    alert("Place all ships.");
                }else{
                    socket.send(JSON.stringify({
                        'type': 'chat_message',
                        'intended':'for_Django',
                        'from': '{{ user.username }}',
                        'purpose': 'Placing done',
                        'squares': this.state.squares,
                        'iOfSquaresOfType':this.state.iOfSquaresOfType,
                        'jOfSquaresOfType': this.state.jOfSquaresOfType,
                        'game_id': {{ room_name }}
                    }));
                    $('#submit').attr('disabled',true);
                    $('#waitingFor').html("Waiting for other player.");
                }
            }
            rotateShip(id){
                let s = $('#ship'+id);
                let r = $('#s'+id);
                if(id!==prev){
                    prev=id;
                    return;
                }
                s.css({'transition': 'all 0.5s ease'});
                var angle = (s.data('angle')+90) || 90;
                var orient = (r.data('orientationv')) || 1;
                orient = (orient+1 > 4)? 1:(orient+1);
                s.css({'transform': 'rotate(' + angle + 'deg)'});
                s.data('angle', angle);
                r.data('orientationv', orient);
                prev=id;
            }
            renderSquare(i, j) {
                let k = 10 * i + j;
                let type=0;
                //console.log(this.state.jOfSquaresOfType);
                //console.log(this.state.iOfSquaresOfType);
                for(let k1=1;k1<=5;k1++){
                    for(let k2=0;k2<this.state.iOfSquaresOfType[k1].length;k2++) {
                        // console.log(this.state.iOfSquaresOfType[k1]===i);
                        if (this.state.iOfSquaresOfType[k1][k2] === i && this.state.jOfSquaresOfType[k1][k2] === j) {
                            console.log("E");
                            type = k1;
                        }
                    }
                }
                let colour = 'btn-defaul{t';
                if (this.state.squares[i][j] === 1) {
                    if(type===0){
                        colour='btn-secondary';
                    }
                    else if(type===1){
                        colour = 'btn-success';
                    }
                    else if(type===2){
                        colour = 'btn-primary';
                    }
                    else if(type===3){
                        colour = 'btn-warning';
                    }
                    else if(type===4){
                        colour = 'btn-info';
                    }
                    else if(type===5){
                        colour = 'btn-danger';
                    }
                }
                return React.createElement(Square, {
                    value: colour,
                    onClick: () => this.handleClick(i, j),
                    key: k,
                });
            }
            render() {
                let rows = [];
                for (let i = 0; i < 10; i++) {
                    for (let j = 0; j < 10; j++) {

                        // note: we add a key prop here to allow react to uniquely identify each
                        // element in this array. see: https://reactjs.org/docs/lists-and-keys.html
                        rows.push(this.renderSquare(i, j));
                    }
                    rows.push(React.createElement(
                        'br',
                        {
                            key: 'b'+i.toString(),
                        },
                    ));
                }
                rows.push(React.createElement(
                    'h4',
                    {
                        key: 'choose',
                    },
                    'Choose ship type:'
                ));
                rows.push(React.createElement(
                    "form",
                    {
                        key: 'ship-form',
                    },
                    React.createElement(
                        'ul',
                        {
                            id: 'ul',
                        },
                        React.createElement(
                            'li',
                            {
                                id: '1',
                            },
                            React.createElement(
                                "input",
                                {
                                    type: "radio",
                                    name: "ship",
                                    id: 's1',
                                    value: "1",
                                    orientationv: "1",
                                    defaultChecked: true,
                                    onClick: () => this.rotateShip("1"),
                                }
                            ),
                            React.createElement(
                                "label",
                                {htmlFor: "s1",},
                                React.createElement("img", { src: "{% static play %}/images/s1.png", id: "ship1", })
                            ),
                            React.createElement(
                                "h3",
                                {
                                    key: 'choose',
                                    align: 'center',
                                },
                                counts[1]+"/"+upperCount[1]
                            ),

                        ),
                        React.createElement(
                            'li',
                            {
                                id: '2',
                            },
                            React.createElement(
                                "input",
                                {
                                    type: "radio",
                                    name: "ship",
                                    id: 's2',
                                    value: "2",
                                    orientationv: "1",
                                    defaultChecked: true,
                                    onClick: () => this.rotateShip("2"),
                                }
                            ),
                            React.createElement(
                                "label",
                                {htmlFor: "s2",},
                                React.createElement("img", { src: "{% static play %}/images/s2.png", id: "ship2", })
                            ),
                            React.createElement(
                                "h3",
                                {
                                    key: 'choose',
                                    align: 'center',
                                },
                                counts[2]+"/"+upperCount[2]
                            ),


                        ),
                        React.createElement(
                            'li',
                            {
                                id: '3',
                            },
                            React.createElement(
                                "input",
                                {
                                    type: "radio",
                                    name: "ship",
                                    id: 's3',
                                    value: "3",
                                    orientationv: "1",
                                    defaultChecked: true,
                                    onClick: () => this.rotateShip("3"),
                                }
                            ),
                            React.createElement(
                                "label",
                                {htmlFor: "s3",},
                                React.createElement("img", { src: "{% static play %}/images/s3.png", id: "ship3", })
                            ),
                            React.createElement(
                                "h3",
                                {
                                    key: 'choose',
                                    align: 'center',
                                },
                                counts[3]+"/"+upperCount[3]
                            ),

                        ),
                        React.createElement(
                            'li',
                            {
                                id: '4',
                            },
                            React.createElement(
                                "input",
                                {
                                    type: "radio",
                                    name: "ship",
                                    id: 's4',
                                    value: "4",
                                    orientationv: "1",
                                    defaultChecked: true,
                                    onClick: () => this.rotateShip("4"),
                                }
                            ),
                            React.createElement(
                                "label",
                                {htmlFor: "s4",},
                                React.createElement("img", { src: "{% static play %}/images/s4.png", id: "ship4", })
                            ),
                            React.createElement(
                                "h3",
                                {
                                    key: 'choose',
                                    align: 'center',
                                },
                                counts[4]+"/"+upperCount[4]
                            ),

                        ),
                        React.createElement(
                            'li',
                            {
                                id: '5',
                            },
                            React.createElement(
                                "input",
                                {
                                    type: "radio",
                                    name: "ship",
                                    id: 's5',
                                    value: "5",
                                    orientationv: "1",
                                    defaultChecked: true,
                                    onClick: () => this.rotateShip("5"),
                                }
                            ),
                            React.createElement(
                                "label",
                                {htmlFor: "s5",},
                                React.createElement("img", { src: "{% static play %}/images/s5.png", id: "ship5", })
                            ),
                            React.createElement(
                                "h3",
                                {
                                    key: 'choose',
                                    align: 'center',
                                },
                                counts[5]+"/"+upperCount[5]
                            ),

                        ),
                    ),
                ));
                rows.push(React.createElement(
                    'button',
                    {
                        key:'submit',
                        id: 'submit',
                        className: 'btn btn-success',
                        onClick: () => this.submitClick(),
                    },
                    'Submit'
                ));
                rows.push(React.createElement(
                    'h4',
                    {
                        id: 'waitingFor',
                        key: 'waitingFor'
                    },

                ));
                return React.createElement(
                    'div',
                    null,
                    rows
                );
            }
        }
        let b=React.createElement(Board,null);
        ReactDOM.render(b, document.getElementById('board_container'));

    </script>
{% endblock %}
