{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static "play/css/bootstrap.min.css" %}">
    <script src='{% static "play/js/jquery.min.js" %}'></script>
    <script src='{% static "play/js/popper.min.js" %}'></script>
    <script src='{% static "play/js/bootstrap.min.js" %}'></script>
    <script src='{% static "play/react/react.development.js" %}'></script>
    <script src='{% static "play/react/react-dom.development.js" %}'></script>
    {% block style %} {% endblock %}
    <title>{%block title %}
        Battleship {% endblock %}</title>
</head>
<body>
<main>
    {% block content %}
    {% endblock %}
</main>
</body>
</html>
