{% extends 'base.html' %}
{% block style %}
    <style>
        .clickable:hover{
            cursor: pointer;
        }
    </style>
{% endblock %}
{% block title %}Available players{% endblock %}
{% block content %}
    <nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top justify-content-end">
        <a href="{% url 'profile' %}" class="navbar-brand">{{user.username}}</a>
        <a href="{% url 'logout' %}" class="btn btn-warning">Logout</a>
    </nav>
    <br>
    <!-- The Modal -->
    <div class="modal" id="myModal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Request received</h4>
                </div>

                <!-- Modal body -->
                <div id="modalBody" class="modal-body">
                    ...
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button id="accept" type="button" class="btn btn-success" data-dismiss="modal">Accept</button>
                    <button id="reject" type="button" class="btn btn-danger" data-dismiss="modal">Reject</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="waitModal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Request sent</h4>
                </div>

                <!-- Modal body -->
                <div id="modalBody" class="modal-body">
                    Waiting for request to be accepted.
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button id="cancel" type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <h4 class="container">Click on any user to send a play request:</h4>
    {% if users %}
        <ul id="l" style="list-style-type:none" class="container">
            {% for userit in users %}
                <!-- NOTE: We escape HTML to prevent XSS attacks. -->
                {% ifnotequal userit.username user.username %}
                    <li data-username="{{ userit.username|escape }}" class="jumbotron justify-content-center clickable">
                        <h4 align="center">{{ userit.username|escape }}</h4>
                        <hr>
                        <table cellpadding="10px">
                            <tr>
                                <th>About</th>
                                <td colspan="5">{{ userit.profile.bio|escape }}</td>
                            </tr>
                            <tr>
                                <th>Location</th>
                                <td colspan="5">{{ userit.profile.location|escape  }}</td>
                            </tr>
                            <tr>
                                <th>Total Score: </th>
                                <td>{{ user.profile.totalScore|escape }} </td>
                                <th>Games Played: </th>
                                <td>{{ user.profile.noOfGamesPlayed|escape }} </td>
                                <th>Games Won: </th>
                                <td>{{ user.profile.noOfGamesWon|escape }} </td>
                            </tr>
                        </table>
                    </li>
                {% endifnotequal %}
            {% endfor %}
        </ul>
    {% endif %}
    <script>
        var receivedData='';
        $(document).ready(function () {
            $('#myModal').modal({ show: false});
            $('#waitModal').modal({ show: false});
            {% if users %}
                {% for userit in users %}
                    {% if not userit.profile.isAvailable %}
                        var user = $('li').filter(function () {
                            return $(this).data('username') === "{{ userit.username }}";
                        });
                        user.hide();
                    {% endif %}
                {% endfor %}
            {% endif %}
        });
        var socket = new WebSocket('ws://' + window.location.host + '/users/');

        socket.onopen = function open() {
            console.log('WebSockets connection created.');
        };
        var sentTo='';
        socket.onmessage = function message(event) {
            var data = JSON.parse(event.data);
            receivedData=data;
            // NOTE: We escape JavaScript to prevent XSS attacks.
            if('logged_username' in data) {
                var username = encodeURI(data['logged_username']);
                var user = $('li').filter(function () {
                    return $(this).data('username') === username;
                });
                if (data['is_logged_in']) {
                    user.show();
                }
                else {
                    user.hide();
                }
            }
            if('purpose' in data){
                if(data['purpose']==='Send_Request') {
                    $('#modalBody').text(data['from']);
                    $('#myModal').modal('show');
                }
                if(data['purpose']==='Accept_Request'){
                    //alert("Your request was accepted.");
                    sendID(data['game_id']);
                    let pathto=data['game_id'];
                    window.location.href = '/play/place/'+pathto;
                }
                if(data['purpose']==='Reject_Request'){
                    $('#waitModal').modal('hide');
                    alert("Your request was rejected. Lol.");
                }
                if(data['purpose']==='Cancel_Request'){
                    $('#myModal').modal('hide');
                }
                if(data['purpose']==='Game_ID'){
                    let pathto=data['game_id'];
                    //alert(data['game_id']);
                    window.location.href = '/play/place/'+pathto;
                }
            }
            function sendID(game_id) {
                socket.send(JSON.stringify({
                    'type': 'chat_message',
                    'from': '{{ user.username }}',
                    'to': sentTo,
                    'game_id': game_id,
                    'purpose': 'Game_ID'
                }));
            }
        };
        $(document).on("click", "#l li" , function() {
            var send_to_username=$(this).data('username');
            sentTo = send_to_username;
            if(send_to_username !== '{{ user.username }}') {
                socket.send(JSON.stringify({
                    'type': 'chat_message',
                    'from': '{{ user.username }}',
                    'to': send_to_username,
                    'purpose': 'Send_Request'
                }));
                $('#waitModal').modal('show');
            }
        });
        $(document).on("click","#accept",function () {
            var send_to_username = receivedData['from'];
            socket.send(JSON.stringify({
                'type': 'chat_message',
                'from': '{{ user.username }}',
                'to': send_to_username,
                'purpose': 'Accept_Request'
            }));
        });
        $(document).on("click","#reject",function () {
            var send_to_username = receivedData['from'];
            socket.send(JSON.stringify({
                'type': 'chat_message',
                'from': '{{ user.username }}',
                'to': send_to_username,
                'purpose': 'Reject_Request'
            }));
        });
        $(document).on("click","#cancel",function () {
            socket.send(JSON.stringify({
                'type': 'chat_message',
                'from': '{{ user.username }}',
                'to': sentTo,
                'purpose': 'Cancel_Request'
            }));
        });
        if (socket.readyState === WebSocket.OPEN) {
            socket.onopen();
        }
    </script>
{% endblock %}
