{% extends 'base.html' %}
{% block title %}Profile{% endblock %}
{% block content %}
<nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top justify-content-end">
	<a href="{% url 'profile' %}" class="navbar-brand">{{user.username}}</a>
    <a href="{% url 'logout' %}" class="btn btn-warning">Logout</a>
</nav>
<br>
<div class="container jumbotron justify-content-centre">
	<h1 class="row">Welcome, {{user.username}}.</h1>
    <div class="row">
        <h4>Bio: {{ user.profile.bio|escape }} </h4>
        <h4>Location: {{ user.profile.location|escape }}</h4>
    </div>
	<hr>
	<a href="{% url 'list' %}" class="btn btn-success">Begin Game</a>
</div>
{% endblock %}
